<h1>People</h1>
<% if true || @people.any? %>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.email %></td>
      </tr>  
    <% end %>
  </table>
  <%= link_to 'Delete all', people_path, :method => :delete %>
  <%= link_to 'Import', new_person_import_path %>
  
<% end %>
