<h1>Importing Errors</h1>
<p>The following rows could not be imported due to errors</p>
<%= form_for @csv_import do |form| %>
  <table>
    <tr>
      <th>Row Number</th>
      <% @csv_import.columns.each do |column| %>
        <th><%= select_tag "#{form.object_name}[columns][]", options_for_select([""] + @csv_import.importable_columns.map{|s| [s.titleize, s]}, column) %></th>
      <% end %>
      <th>Delete</th>
    </tr>
    <% form.fields_for :csv_rows, @csv_import.csv_rows.reject(&:destroyed?) do |row_fields| %>
      <tr>
        <td><%= row_fields.object.number + 1 %><%= row_fields.hidden_field :id %></td>
        <% @csv_import.columns.each_with_index do |column, index| %>
          <td valign='top'>
            <%= text_field_tag "#{row_fields.object_name}[content][]", row_fields.object.content[index], :class => row_fields.object.errors[column].present? ? 'error' : nil %>
            <% if row_fields.object.errors[column].present? %>
              <div class='error'><%= row_fields.object. errors[column].to_a.join(', ') %></div>
            <% end %>
          </td>
        <% end %>
        <td><%= row_fields.check_box :_destroy %></td>
      </tr>
    <% end %>
  </table>
  <%= form.submit %>
<% end %>